In [15]:
import pandas as pd

crew_dict = {
    "captain": "Monkey D. Luffy",
    "swordsman": "Roronoa Zoro",
    "navigator": "Nami",
    "sniper": "Usopp",
    "chef": "Vinsmoke Sanji",
    "doctor": "Tony Tony Chopper",
    "archaeologist": "Nico Robin",
    "shipwright": "Franky",
    "musician": "Brook"
}
ser = pd.Series(crew_dict, index = crew_dict.keys()) # 排序與原 dict 相同

print(ser[['captain', 'sniper', 'archaeologist']])
print("\n")
name_filter = ser.isin(("Nami", "Nico Robin"))
print(ser[name_filter])

captain          Monkey D. Luffy
sniper                     Usopp
archaeologist         Nico Robin
dtype: object


navigator              Nami
archaeologist    Nico Robin
dtype: object

In [19]:
import pandas as pd

straw_hat_dict = {"name": ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook"],
                  "age": [19, 21, 20, 19, 21, 17, 30, 36, 90],
                  "is_male": [True, True, False, True, True, True, False, True, True]
}

df = pd.DataFrame(straw_hat_dict) # 欄標籤預設排序
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   age  is_male               name
0   19     True    Monkey D. Luffy
1   21     True       Roronoa Zoro
2   20    False               Nami
3   19     True              Usopp
4   21     True     Vinsmoke Sanji
5   17     True  Tony Tony Chopper
6   30    False         Nico Robin
7   36     True             Franky
8   90     True              Brook

In [36]:
import numpy as np
import pandas as pd

arr = np.array([
    ["Monkey D. Luffy", 19, True],
    ["Roronoa Zoro", 21, True],
    ["Nami", 20, False],
    ["Usopp", 19, True],
    ["Vinsmoke Sanji", 21, True],
    ["Tony Tony Chopper", 17, True],
    ["Nico Robin", 30, False],
    ["Franky", 36, True],
    ["Brook", 90, True]
])

print(arr[2:,1:])
df = pd.DataFrame(arr, columns = ["name", "age", "is_male"])
df

[['20' 'False']
 ['19' 'True']
 ['21' 'True']
 ['17' 'True']
 ['30' 'False']
 ['36' 'True']
 ['90' 'True']]

                name age is_male
0    Monkey D. Luffy  19    True
1       Roronoa Zoro  21    True
2               Nami  20   False
3              Usopp  19    True
4     Vinsmoke Sanji  21    True
5  Tony Tony Chopper  17    True
6         Nico Robin  30   False
7             Franky  36    True
8              Brook  90    True